.add-lead-page{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.page-header h1{
    color:#111827;
}

.page-header p{
    color:#6b7280;
}

.lead-form{
    background:white;
    padding:30px;
    border-radius:16px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.form-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}

.form-group{
    display:flex;
    flex-direction:column;
}

.form-group label{
    margin-bottom:8px;
    font-weight:600;
}

.form-group input,
.form-group select,
.form-group textarea{

    padding:12px;

    border:1px solid #d1d5db;

    border-radius:8px;

    outline:none;

    font-size:15px;
}

.form-group textarea{

    margin-top:10px;

    resize:none;
}

.submit-btn{

    margin-top:25px;

    background:#2563eb;

    color:white;

    border:none;

    padding:14px 30px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;
}

.submit-btn:hover{

    background:#1d4ed8;
}